body{
    padding: 0;
    margin: 0;
}
.header{
    background-color: #FFC244FF;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.header-img{
    height: 50px;
}
.header-form button{
    border: none;
    background: transparent;
    position: absolute;
    left: 130px;
    color: gray;
}
.button-icon{
    width: 20px;
    height: 20px;
}
.header-form{
    position: relative;
    display: flex;
    align-items: center;
}
.header-form input{
    width: 400px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    text-align: center;
    font-size: 17px;
}

.header-button{
    width: 160px;
    padding: 12px;
    border-radius: 30px;
    border: none;
    background-color: darkcyan;
    color: white;
    font-size: 17px;
}
.section-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}
.p{
    font-size: 30px;
    font-family: "Glovo","Arial","Helvetica Neue",Helvetica,sans-serif;
    width: 450px;
    margin-bottom: 80px;
}
.section-divs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}
.section-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
}
.section-card{
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 45% 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-two{
    margin: 50px 200px;
    display: flex;
    flex-direction: column;

}
.section-two_images_texts{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.section-two_cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
}
.section-two_card{
    display: flex;
    flex-direction: column;
    background: transparent;
    width: 250px;
    height: 200px;
}
.section-two_card_img{
    width: 100%;
    height: 70%;
    background-size: cover;
    overflow: hidden;
    border-radius: 15px;
    
}
.section-two_ioimg{
    width: 100%;
    height: 100%;
    /* transition: transform .15s ease-in-out; */
}
/* .section-two_ioimg:hover{
    transform: scale(1.05);
} */
.section-two_card_texts{
    margin: 0;
    padding: 0;
}
.section-two_card_texts h1{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-weight: 900;
    
}
.section-two_card_texts p{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 17px;
}
.section-population{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
}
.section-population-texts{
    font-size: 40px;
}

.section-population-categories{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.section-population-categories p{
    background-color: #FFF3DAFF;
    padding: 10px 20px;
    width: auto;
    text-align: center;
    border-radius: 25px;
    margin: 0;
    font-size: 17px;
    font-weight: 400;
}
.section-three{
    background-color: rgb(215, 255, 242);
}
.joinus-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-top: 100px;
    position: relative;
    bottom: 40px;
}
.joinus-section-text{
    font-size: 40px;
}
.join-us-details{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.join-us-details-container{
    height: 500px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.join-us-details-divs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.join-us-details-divs h3{
    font-size: 25px;
    margin-bottom: 0;
}

.join-us-details-divs p{
    font-size: 18px;
    text-align: center;

}

.join-us-details-container button{
    padding: 12px;
    width: 250px;
    font-size: 18px;
    background-color: darkcyan;
    filter: drop-shadow(0px 5px 20px gray);
    border: none;
    border-radius: 25px;
    color: white;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1D1D1DFF;
    padding: 50px 180px;
}
.footer-elemnts{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 30px;
}

.footer-texts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}
.footer-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    color: white;
}
.footer-text h1{
    color: white;
    font-size: 20px;
}

.footer-text a{
    text-decoration: none;
    color: white;
}
.footer-text p{
    margin: 0;
    padding: 0;
}

.footer-popular{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 50px;
}

.footer-popular-brends{
    display: flex;
    flex-direction: column;
    color: white;
}

.footer-popular-brends h1{
    font-size: 25px;
}

.footer-popular-brends-texts{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
    color: white;
}

.footer-popular-brends-texts a{
    text-decoration: none;
    color: white;
}

.footer-popular-categories{
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 30px;
}

.footer-popular-categories-texts{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
    color: white;
}
.footer-popular-categories h1{
    font-size: 25px;
}
.footer-popular-categories-texts a{
    text-decoration: none;
    color: white;
}